<footer class="container-fluid" style="bottom:0; width: 100%;">
    <div class="container">
        <div class="col-xs-12">
            <p>
                <a href="https://nfactory.io/" target="blank">© CESI School - 2019</a>
            </p>
        </div> <!-- /.col-xs-12-->
    </div> <!-- /.container -->
</footer>