{% extends "layout.html.twig" %}
{% set active = 'project' %}
{% set active_link = 'project' %}
{% block page_title %} Projet {% endblock %}

{% block content %}

    <main class="no-bg">
        <div class="container">
            <div class="row">
                {# Navigation de l'admin#}
                {% include "admin/adminComp/_navigation.html.twig" %}

                <div class=" col-xs-12 col-md-8">

                    <div class="content-box-header">
                        <div class="panel-title titre-moncompte"><h2>Projet</h2></div>
                    </div>
                    <div class="oeuvre content-box-large box-with-header">
                        {{ include('project/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>
        </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
