{% extends "layout.html.twig" %}
{% set active = 'new_project' %}
{% set active_link = 'new_project' %}
{% block page_title %} Plan projet {% endblock %}

{% block content %}

    <main class="no-bg">
        <div class="container">
            <div class="row">
                {# Navigation de l'admin#}
                {% include "admin/adminComp/_navigation.html.twig" %}

                <div class=" col-xs-12 col-md-8">
                    <div class="content-box-header">
                        <div class="panel-title titre-moncompte"><h2>Projet</h2></div>
                    </div>

                    <div class="oeuvre content-box-large box-with-header">
                        <div id='interfaces' class='card'>
                            <div id="floorplanner" class='front' style="width: 100% !important; height: 100% !important;">
                                <div id="floorplanner-controls">
                                    <a href="#"
                                       class="btn btn-default btn-sm glyphicon glyphicon-floppy-disk"
                                       id="new2d" title="New Layout"></a>
                                    <a href="#"	class="btn btn-default btn-sm glyphicon glyphicon-floppy-save" id="saveFile2d" title="Save Layout"></a>
                                    <a class="btn btn-sm btn-default btn-file glyphicon glyphicon-floppy-open">
                                        <input type="file" class="hidden-input" id="loadFile2d">
                                    </a>
                                    <button id="move" class="btn btn-sm btn-default" title="Move Walls">
                                        <span class="glyphicon glyphicon-move"></span>
                                    </button>
                                    <button id="draw" class="btn btn-sm btn-default"
                                            title="Draw New Walls">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button id="delete" class="btn btn-sm btn-default"
                                            title="Delete Walls">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <button id="help2d" class="btn btn-sm btn-default"
                                            title="Tips&#10;Shift Key: Snap To Axis and Snap to Grid&#10;ESC: Stop drawing walls&#10;DbL-Click(Corner): Adjust Elevation&#10;Click(Room): Change Name&#10;">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </button>
                                </div>
                                <div class="btn-hint ">Press the "Esc" key to stop drawing
                                    walls</div>
                                <canvas id="floorplanner-canvas"></canvas>
                            </div>

                            <div id="viewer" class='back'>
                                <div id="main-controls">
                                    <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-floppy-disk" id="new" title="New Layout"></a>
                                    <a href="#"	class="btn btn-default btn-sm glyphicon glyphicon-floppy-save" id="saveFile" title="Save Layout"></a>
                                    <a class="btn btn-sm btn-default btn-file glyphicon glyphicon-floppy-open">
                                        <input type="file" class="hidden-input" id="loadFile">
                                    </a>
                                    <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-asterisk"	id="saveMesh" title="Save Scene as a mesh"></a>
                                    <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-export"	id="saveGLTF" title="Save Scene as a GLTF"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
